---
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
import FoodCard from './elements/FoodCard.astro';
---

<section class="bg-[#3ead55] p-5 sm:p-10 md:p-14 lg:p-20">
	<SectionTitle>Hungry? Start here!</SectionTitle>
		<div class="flex flex-row justify-evenly gap-4 flex-wrap">
	<FoodCard
		src="CactusClub"
		title="Cactus Club"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a  elit eget arcu aliquet lobortis."
		link="#"
	/>
		<FoodCard
		src="CactusClub"
		title="Cactus Club"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a  elit eget arcu aliquet lobortis."
		link="#"
	/>
	<FoodCard
		src="CactusClub"
		title="Cactus Club"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a  elit eget arcu aliquet lobortis."
		link="#"
	/>
	<FoodCard
		src="CactusClub"
		title="Cactus Club"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a  elit eget arcu aliquet lobortis."
		link="#"
	/>
	<FoodCard
		src="CactusClub"
		title="Cactus Club"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a  elit eget arcu aliquet lobortis."
		link="#"
	/>

			</div>
</section>
