---
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
---

<section class="p-5 sm:p-10 md:p-14 lg:p-20">
	<SectionTitle color="black"> Transportation in Kelowna </SectionTitle>
	<div class="grid grid-cols-2 grid-rows-2 gap-4">
		<div class="border-[1px] border-solid border-black rounded-md p-5 flex flex-col justify-center items-start gap-4">
			<div class="flex flex-row w-full justify-between items-center">
				<h4 class="p-0 m-0 leading-none">Buy Tickets</h4>
				<i class="ri-arrow-right-up-line"></i>
			</div>
			<p class="p-0 m-0 leading-none">
				Find more information about getting tickets for public transit
				around Kelowna.
			</p>
			<a class="no-underline p-2 m-0 leading-none border-[1px] rounded-md border-solid border-black hover:cursor-pointer">Learn More</a>
		</div>
		<div class="border-[1px] border-solid border-black rounded-md p-5 flex flex-col justify-center items-start gap-4">
			<div class="flex flex-row w-full justify-between items-center">
				<h4 class="p-0 m-0 leading-none">Public Transit Routes</h4>
				<i class="ri-arrow-right-up-line"></i>
			</div>
			<p class="p-0 m-0 leading-none">
				Kelowna’s bus system offers convenient routes throughout the
				city.
			</p>
			<a class="no-underline p-2 m-0 leading-none border-[1px] rounded-md border-solid border-black hover:cursor-pointer">Learn More</a>
		</div>
		<div class="border-[1px] border-solid border-black rounded-md p-5 flex flex-col justify-center items-start gap-4">
			<div class="w-full flex flex-row justify-between items-center">
				<h4 class="p-0 m-0 leading-none">Ride Sharing</h4>
				<i class="ri-arrow-right-up-line"></i>
			</div>
			<p class="p-0 m-0 leading-none">
				Various ride-sharing options are available for flexible
				transportation.
			</p>
			<a class="no-underline p-2 m-0 leading-none border-[1px] rounded-md border-solid border-black hover:cursor-pointer">Learn More</a>
		</div>
		<div class="border-[1px] border-solid border-black rounded-md p-5 flex flex-col justify-center items-start gap-4">
			<div class="flex w-full flex-row justify-between items-center">
				<h4 class="p-0 m-0 leading-none">Bike Share</h4>
				<i class="ri-arrow-right-up-line"></i>
			</div>
			<p class="p-0 m-0 leading-none">
				Explore Kelowna on two wheels with these bike-sharing program.
			</p>
			<a class="no-underline p-2 m-0 leading-none border-[1px] rounded-md border-solid border-black hover:cursor-pointer">Learn More</a>
		</div>
	</div>
</section>
