---
import SpeakerInformation from '@src/components/elements/SpeakerInformation.astro';
import Speakers from '@src/components/sections/Speakers.astro';
import Base from '@src/layouts/Base.astro';
---

<Base title="Playground">
	<div class="relative">
		<Speakers />
		<SpeakerInformation />
	</div>
</Base>
