---
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
import MissionPrincipleTiles from './elements/MissionPrincipleTiles.astro';
---

<!-- z-30 -->
<section class="relative bg-transparent p-5 sm:p-10 md:p-14 lg:p-20">
	<SectionTitle color="black">
		Our <br class="sm:hidden" />Mission & Principles
	</SectionTitle>
	<div class="flex flex-col items-start justify-start gap-4">
		<p class="text-2xl font-light">
			The 37th Western Canadian Undergraduate Chemistry Conference will be
			held at the University of British Columbia Okanagan, located in the
			Syilx Okanagan Territory, in May of 2025.
		</p>
		<p class="text-2xl font-light">
			This conference will provide undergraduates an opportunity to
			present their research, learn from luminaries in the field of
			chemistry, and connect with others to foster community. The guiding
			principles for this gathering are:
		</p>
		<div class="grid w-full grid-cols-1 grid-rows-2 gap-4 md:grid-cols-2">
			<MissionPrincipleTiles
				principle="Interconnection"
				description="Across disciplines and students to build community "
				color="#052900"
			/>
			<MissionPrincipleTiles
				principle="Diversity & Inclusion"
				description="Among participants, ideas, & disciplines"
				color="#D10838"
			/>
			<MissionPrincipleTiles
				principle="Application"
				description="Of research findings to issues in the broader world "
				color="#FF7543"
			/>
			<MissionPrincipleTiles
				principle="Accessibility"
				description="Of information to diverse audiences"
				color="#2457dd"
			/>
		</div>
		<p class="m-0 p-0 text-2xl font-light">
			Our team looks forward to applying these principles in the planning
			and execution of what we hope will be a spectacular conference. We
			can't wait to welcome you to the beautiful Okanagan Valley.
		</p>
	</div>
</section>
