---
import RewardsComponent from "@src/components/elements/RewardsComponent.astro"
---

<section class="h-screen w-screen">
	<section
		class="flex flex-row items-center justify-evenly gap-4 p-10"
	>
		<h1 class="w-3/5 p-6 text-7xl">
			"<br />
			Uniting Elements of Innovation<br />
			"
		</h1>
		<div
			class="w-2/5 bg-wcucc-coral-400 bg-opacity-20 p-6 text-3xl font-light"
		>
			Join hundreds of others from around the country to celebrate
			innovation and discoveries beyond your wildest imagination.
		</div>
	</section>
	<section class="flex flex-col justify-center items-center gap-4">
		<div>
		<h1 class="text-5xl">Brilliance Rewarded</h1>
		<p>Students will compete for the following awards.</p>
		</div>
		<div class="flex flex-row justify-center gap-10 flex-wrap">
			<RewardsComponent image={`/FirstPlace.svg`} imgAlt={`First Place Award`} description={`1st Place Submission`} />
			<RewardsComponent image={`/SecondPlace.svg`} imgAlt={`Second Place Award`} description={`2nd Place Submission`} />
			<RewardsComponent image={`/ThirdPlace.svg`} imgAlt={`Third Place Award`} description={`3rd Place Submission`} />
		</div>
	</section>
</section>
