---
import SectionTitle from '@src/components/elements/ui/sectiontitle.astro';
---
<section class="bg-[#111B21] p-5 sm:p-10 md:p-14 lg:p-20 transition-all duration-300 ease-in-out">
	<SectionTitle> Sponsors and Funding </SectionTitle>
</section>
