---
import Base from '@src/layouts/Base.astro';
import HeaderBase from '@src/components/elements/HeaderBase.astro';
import Team from '@src/components/sections/team/Team.astro';
import People from '@src/components/sections/team/People.astro';
---

<Base title="Our Team">
	<HeaderBase
		title="Our Team"
		description="Meet the amazing team that made this conference a reality 🙂"
	/>
	<div class="p-0 m-0 bg-[url('elements-bg.svg')] bg-cover">
		<Team />
		<People />
	</div>
</Base>
