---
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
import { getCollection } from 'astro:content';
const faqs = await getCollection('faqs');
---

<section class="mb-16 mt-16 px-8 pl-20 pr-10">
    <SectionTitle color="black" class="mb-8" id="section-title">
        <span class="block md:hidden">FAQs</span>
        <span class="hidden md:block">Frequently Asked Questions</span>
    </SectionTitle>
    <div>
        {faqs.map(faq => (
            <details class="group border-t border-black py-4 transition-all duration-300">
                <summary class="flex items-center justify-between cursor-pointer text-xl font-medium text-gray-800">
                    <span>{faq.data.question}</span>
                    <svg
                        class="ml-2 h-5 w-5 text-gray-500 transition-transform duration-300 group-open:rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </summary>
                <p class="mt-2 text-lg text-gray-700">
                    {faq.data.answer}
                </p>
            </details>
			<hr class="border-t border-black" />
        ))}
    </div>
</section>
