---
import 'remixicon/fonts/remixicon.css';
import MobileOverlay from "@src/components/elements/navigation/mobile/Overlay.astro";
---

<nav class="md:hidden flex flex-row w-full justify-between items-center p-4">
	<a class="flex flex-row items-center justify-center" href="/feature">
		<img src="/WCUCC-Logo.svg" alt="WCUCC Logo" width="100" height="100" />
	</a>
	<div id="burger" class="px-2 py-1 bg-white rounded-md shadow shadow-black hover:cursor-pointer">
		<i class="ri-menu-3-line text-3xl"></i>
	</div>
</nav>

<MobileOverlay />

<script is:inline>
	const burger = document.querySelector('#burger');
	burger.addEventListener('click', () => {
		const overlay = document.querySelector('#mobile-overlay');
		overlay.classList.toggle('hide');
	});
</script>
