---
import NavigationOption from '@src/components/elements/navigation/NavigationOption.astro';
---

<div
	id="mobile-overlay"
	class="hide fixed z-[100] w-screen overflow-hidden font-sans"
	style="height: 100dvh;"
>
	<div
		class="flex h-full w-full flex-col justify-between gap-2 overflow-x-hidden overflow-y-scroll rounded-md bg-white shadow shadow-black"
	>
		<div class="relative p-2">
			<NavigationOption
				title="Conference Information"
				description="Submission guidelines, deadlines and key info"
				href="/conference"
			/>
			<!-- <NavigationOption -->
			<!-- 	title="Kelowna" -->
			<!-- 	description="Explore our host city" -->
			<!-- 	href="#" -->
			<!-- /> -->
			<NavigationOption
				title="Meet the Team"
				description="The people behind WCUCC 2025"
				href="/team"
				forceNextColumn={true}
			/>
			<NavigationOption
				title="Events & Schedule"
				description="What's happening at WCUCC 2025"
				href="/schedule"
			/>
			<NavigationOption
				title="Sponsors & Funding"
				description="Support options and our generous sponsors"
				href="/funding"
			/>
		</div>
		<div class="sticky bottom-2 flex w-full flex-row gap-2 bg-white p-2">
			<a
				class="flex-1 rounded-md bg-wcucc-lavender p-2 text-center text-xl text-white transition-all duration-300 ease-in-out hover:cursor-pointer hover:bg-[#5F61B8]"
				style="text-decoration: none;"
				href="/schedule/"
			>
				SCHEDULE
			</a>
			<div
				id="close-overlay"
				class="flex flex-col items-center justify-center rounded-md bg-red-600 px-3 py-2 text-xl text-white hover:cursor-pointer hover:bg-red-700"
			>
				<i class="ri-close-large-fill"></i>
			</div>
		</div>
	</div>
</div>

<style>
	.hide {
		display: none;
	}
	@supports not (height: 100dvh) {
		#mobile-overlay {
			height: 100vh;
			height: -webkit-fill-available;
		}
	}
</style>

<script is:inline>
	const closeButton = document.querySelector('#close-overlay');
	closeButton.addEventListener('click', () => {
		const overlay = document.querySelector('#mobile-overlay');
		overlay.classList.add('hide');
	});
</script>
