---
const { text, link } = Astro.props;
---

<div
	class="my-4 flex flex-row items-center justify-between gap-4 rounded-md border-2 border-solid border-[#1B98F2] px-4 py-2 text-[1rem] sm:text-lg font-bold text-white transition-all duration-300 ease-in-out hover:cursor-pointer hover:bg-[#1B98F2] hover:text-white"
>
	<p class="mb-0 h-fit">{text}</p>
	<i class="ri-external-link-fill h-fit"></i>
</div>
