---
import SlidingBox from './SlidingBox.astro';
---

<footer class="z-50 inline-block relative w-full bg-white p-10">
	<div
		class="hidden w-full flex-col items-center justify-center gap-0 md:flex"
	>
		<div
			class="flex w-full flex-col items-center justify-center lg:flex-row lg:justify-between"
		>
			<SlidingBox />
			<div
				class="flex w-full flex-row items-center justify-evenly gap-20 pt-2 lg:justify-end lg:gap-10 xl:gap-20"
			>
				<a href="/feature">
					<img
						src="WCUCC-Logo.svg"
						alt="WCUCC Logo Footer"
						class="h-auto w-40 xl:w-52"
					/>
				</a>
				<div
					class="flex h-full flex-row items-start justify-start gap-10 text-xl lg:flex-col lg:gap-2 xl:flex-row xl:gap-16 xl:text-2xl"
				>
					<div class="flex flex-col items-start justify-start gap-2">
						<a class="font-normal" href="#">Kelowna</a>
						<a class="font-normal" href="#">Our Team</a>
						<a class="font-normal" href="#">Sponsors & Funding</a>
					</div>
					<div class="flex flex-col items-start justify-start gap-2">
						<a class="font-normal" href="#">Abstract Submission</a>
						<a class="font-normal" href="#">Schedule</a>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-row items-center justify-center gap-10 py-2">
			<a
				class="cursor-pointer text-2xl hover:text-blue-600 xl:text-4xl"
				style="text-decoration: none;"
				><i class="ri-linkedin-fill"></i></a
			>
			<a
				class="cursor-pointer text-2xl hover:text-blue-600 xl:text-4xl"
				style="text-decoration: none;"
				><i class="ri-instagram-fill"></i></a
			>
			<a
				class="cursor-pointer text-2xl hover:text-blue-600 xl:text-4xl"
				style="text-decoration: none;"><i class="ri-tiktok-fill"></i></a
			>
		</div>
		<p
			class="m-0 gap-1.5 p-0 text-center text-lg leading-normal xl:text-2xl"
		>
			<span
				><i class="ri-copyright-line w-fit pr-2"></i>2025 Western
				Canadian Undergraduate Chemistry Conference</span
			>
		</p>
	</div>
	<!-- MOBILE BOTTOM LAYER -->
	<div class="flex flex-col items-center justify-center gap-0 md:hidden">
		<SlidingBox />
		<img src="WCUCC-Logo.svg" alt="WCUCC Logo Footer" />
		<div class="flex flex-row items-center justify-center gap-10 py-2">
			<a
				class="cursor-pointer text-2xl hover:text-blue-600"
				style="text-decoration: none;"
				><i class="ri-linkedin-fill"></i></a
			>
			<a
				class="cursor-pointer text-2xl hover:text-blue-600"
				style="text-decoration: none;"
				><i class="ri-instagram-fill"></i></a
			>
			<a
				class="cursor-pointer text-2xl hover:text-blue-600"
				style="text-decoration: none;"><i class="ri-tiktok-fill"></i></a
			>
		</div>
		<p class="m-0 gap-1.5 p-0 text-center text-lg leading-normal">
			<span
				><i class="ri-copyright-line w-fit pr-2"></i>2025 Western
				Canadian Undergraduate Chemistry Conference</span
			>
		</p>
	</div>
</footer>
