---
import './slidingwindow.scss';
---

<div class="font-inter p-8">
	<div class="flex flex-wrap justify-evenly">
		<section class="flex w-1/2 min-w-[20rem] flex-wrap p-8">
			<div class="gallery w-full">
			</div>
		</section>
	</div>
</div>

<style>
	a {
		@apply underline decoration-yellow-400 decoration-2 underline-offset-2;
	}

	small a {
		@apply underline decoration-blue-400 decoration-2 underline-offset-2;
		text-decoration-skip-ink: none;
	}
</style>
