---
import Base from '@src/layouts/Base.astro';
import Sponsors from '@src/components/sections/funding/Sponsors.astro';
import FAQs from '@src/components/sections/funding/FAQs.astro';
import WhySponsor from '@src/components/sections/funding/WhySponsor.astro';
import SponsorForm from '@src/components/sections/funding/SponsorForm.astro';
import SponsorshipTiers from '@src/components/sections/funding/SponsorshipTiers.astro';
import HeaderBase from '@src/components/elements/HeaderBase.astro';
---

<Base title="Funding & Sponsors">
	<HeaderBase
		title="Sponsors & Funding"
		description="Learn about the amazing people that made this conference a reality."
	/>

	<Sponsors />

	<div class="full-width-line"></div>

	<SponsorshipTiers />

	<div class="full-width-line"></div>

	<WhySponsor />

	<div class="full-width-line"></div>

	<FAQs />

	<div class="full-width-line"></div>

	<SponsorForm />
</Base>
