---
import Base from '@src/layouts/Base.astro';
---

<Base title="Thank You">
    <div class="font-roboto relative overflow-hidden bg-white pt-20 text-black">
        <main>
            <section
                class="animate-fade-in flex h-screen flex-grow flex-col justify-center pl-20 text-left"
            >
                <h1 class="animate-title mb-4 text-9xl font-extrabold">
                    Thank You
                </h1>
                <p class="animate-subtitle text-xl font-semibold text-black">
                    For submitting your inquiry. <br />
                    A member of our team will contact you as soon as possible.
                </p>
                <p>
                    Click <a
                        class="underline inline text-sky-500"
                        href="/funding">here</a
                    > to return to the sponsors page.
                </p>
            </section>
        </main>
    </div>
</Base>
