---
import SectionIconTitle from '../elements/SectionIconTitle.astro';
---

<section class="bg-[#111B21] p-10 flex flex-col gap-20 items-start justify-center">
	<SectionIconTitle
		icon="ri-money-dollar-circle-fill"
		title="Support Us"
		color="bg-wcucc-pine"
		textColor="white"
	/>
	<h1 class="text-7xl text-white font-bold">
		Become a sponsor & support our student initiatives.
	</h1>
	<button>Learn More</button>
</section>
