---
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
import GuidelineToggle from '@src/components/sections/conference/elements/GuidelineToggle.astro';

import { getCollection } from 'astro:content';
const guidelines = await getCollection('guidelines');

const renderedGuidelines = await Promise.all(
	guidelines.map(async guideline => {
		const { Content } = await guideline.render();
		return {
			...guideline,
			Content,
		};
	})
);
---

<section
	class="flex w-full flex-col gap-5 p-5 transition-all duration-300 ease-in-out sm:p-10 md:gap-10 md:p-14 lg:p-20"
>
	<SectionTitle color="black">Formatting Guidelines</SectionTitle>
	<section class="flex w-full flex-col items-start justify-start gap-4">
		{
			renderedGuidelines.map(guideline => (
				<GuidelineToggle
					icon={guideline.data.icon}
					title={guideline.data.title}
					Content={guideline.Content}
					bgColor={guideline.data.bgColor}
				/>
			))
		}
	</section>
</section>
