---
import 'remixicon/fonts/remixicon.css';
import SectionTitle from '@src/components/elements/ui/SectionTitle.astro';
---

<section
	id="registration-instructions"
	class="flex w-full flex-col gap-5 p-5 transition-all duration-300 ease-in-out sm:p-10 md:gap-10 md:p-14 lg:p-20"
>
	<SectionTitle color="black"> Registration & Submission </SectionTitle>
	<section>
		<div class="flex flex-row items-center justify-start gap-4">
			<p
				class="m-0 flex h-10 w-10 flex-col items-center justify-center rounded-full bg-black p-6 text-2xl leading-none text-white"
			>
				1
			</p>
			<h4 class="m-0 p-0 text-4xl font-bold">Navigate to Fourwaves</h4>
		</div>
		<div class="relative pl-[38px] pt-4">
			<div class="absolute bottom-0 left-[22px] top-2 w-[6px] bg-black">
			</div>
			<div>
				<p class="m-0 px-8 text-2xl font-normal leading-normal">
					Using the button below, navigate to and register on the
					Fourwaves platform. We will be using Fourwaves to handle
					Registration and Abstract Submission.
				</p>
				<!-- <div class="px-8 pt-4"> -->
				<!-- 	<a -->
				<!-- 		href="https://event.fourwaves.com/wcucc2025/pages" -->
				<!-- 		class="inline-block rounded-md bg-blue-600 px-4 py-2 text-lg font-semibold text-white transition-all duration-300 ease-in-out hover:bg-blue-800" -->
				<!-- 		style="text-decoration: none;">Go to Fourwaves</a -->
				<!-- 	> -->
				<!-- </div> -->
			</div>
		</div>
	</section>
	<section>
		<div class="flex flex-row items-center justify-start gap-4">
			<p
				class="m-0 flex h-10 w-10 flex-col items-center justify-center rounded-full bg-black p-6 text-2xl leading-none text-white"
			>
				2
			</p>
			<h4 class="m-0 p-0 text-4xl font-bold">Register</h4>
		</div>

		<div class="relative pl-[38px] pt-4">
			<div class="absolute bottom-0 left-[22px] top-2 w-[6px] bg-black">
			</div>
			<div>
				<p class="m-0 px-8 text-2xl font-normal leading-normal">
					Using your account, navigate to our event and purchase
					tickets for the conference!
				</p>
			</div>
			<div
				class="m-4 flex flex-col gap-2 rounded-lg bg-pink-600 p-6 text-xl text-white"
			>
				<div class="flex flex-row items-center justify-start gap-2">
					<i class="ri-information-2-fill text-2xl"></i>
					<span class="font-bold"
						>Important Note about Accommodation</span
					>
				</div>
				<p class="m-0 p-0 text-xl font-normal leading-normal">
					Ticket prices do not include accommodation. We can guarantee
					on-campus accommodation with a discounted rate for the first
					50 nonlocal registrants. Booking accommodation will cost <b
						>$80 per night</b
					>. The link to access this room block
					<b>(available through March 31st)</b> will be available in your
					registration confirmation email.
				</p>
			</div>
		</div>
	</section>
	<section>
		<div class="flex flex-row items-center justify-start gap-4">
			<p
				class="m-0 flex h-10 w-10 flex-col items-center justify-center rounded-full bg-black p-6 text-2xl leading-none text-white"
			>
				3
			</p>
			<h4 class="m-0 p-0 text-4xl font-bold">
				Submit Abstract (if applicable)
			</h4>
		</div>

		<div class="relative pl-[38px] pt-4">
			<div class="absolute bottom-0 left-[22px] top-2 w-[6px] bg-black">
			</div>
			<div>
				<p class="m-0 px-8 text-2xl font-normal leading-normal">
					Now that you have registered for the conference, you are now
					able to submit an abstract for a poster and/or oral
					presentation.
				</p>
			</div>
		</div>
	</section>
	<section class="">
		<div class="flex flex-row items-center justify-start gap-4">
			<p
				class="m-0 flex h-10 w-10 flex-col items-center justify-center rounded-full bg-black p-6 text-2xl leading-none text-white"
			>
				4
			</p>
			<h4 class="m-0 p-0 text-4xl font-bold">
				Submit Posters and/or Presentations
			</h4>
		</div>

		<div class="relative pl-[38px] pt-4">
			<div>
				<p class="m-0 px-8 text-2xl font-normal leading-normal">
					You will be asked to submit your poster/presentation ~ 1 - 2
					weeks prior to the conference. This is to ensure the
					material you are using meets our conference standards (and
					so we have a spare in case you need it). We will add a
					direct link to the submission portal below closer to the
					time period mentioned above.
				</p>
			</div>
		</div>
	</section>
</section>
