---
import CalendarOverlay from '../CalendarOverlay.astro';

type Props = {
	title: string;
	description: string;
	location: string;
	startDate: string;
	endDate: string;
};

const { title, description, location, startDate, endDate }: Props = Astro.props;

const eventDetails: {
	title: string;
	description: string;
	location: string;
	startDate: Date;
	endDate: Date;
} = {
	title,
	description,
	location,
	startDate: new Date(startDate),
	endDate: new Date(endDate),
};
---

<div id='calendar-toggle' class="relative z-0 px-4 py-1.5 hover:cursor-pointer text-[1.1rem] font-semibold bg-[#e0ff4f] text-black hover:bg-[#c9eb4b] rounded-md w-fit hover:shadow shadow-black duration-200 transition-all">
	<slot />
</div>

<CalendarOverlay eventDetails={eventDetails} />

<script is:inline>
	const btnCal = document.querySelector('#calendar-toggle');
	btnCal.addEventListener('click', () => {
		console.log("Clicked Cal");
		const overlay = document.querySelector('#calendar-overlay');
		overlay.classList.toggle('hidden-el');
	});
</script>
