---
import NavLink from './NavLink.astro';
import RegisterButton from './elements/RegisterButton.astro';
import InterestButton from './elements/InterestButton.astro';
---

<div class="fixed z-50 w-screen">
	<nav
		class="left-0 right-0 top-0 mx-4 mt-4 flex h-16 flex-row items-center justify-between rounded-lg bg-white px-2 py-2 pr-4 shadow-2xl"
	>
		<div
			id="logo"
			class="aspect- flex h-full w-16 items-center justify-center"
		>
			<a
				href="/"
				class="h-12 w-12 rounded-full border-2 bg-lime-200 pl-1 pt-1 text-base/tight font-bold text-white"
				style="border: 0.1rem #000000 solid;"></a>
		</div>
		<div id="links" class="flex flex-row">
			<NavLink href="/meet-the-team">WCUCC</NavLink>
			<NavLink href="">KELOWNA</NavLink>
			<NavLink href="/funding" icon={false}>FUNDING</NavLink>
			<InterestButton />
		</div>
	</nav>
</div>
