---
import MobileNavigation from '@src/components/elements/navigation/mobile/MobileNavigation.astro';
import NormalNavigation from './NormalNavigation.astro';
---

<div class="relative z-50">
	<NormalNavigation />
	<MobileNavigation />
</div>
