---
import NavigationOption from '@src/components/elements/navigation/NavigationOption.astro';
---

<div
	id="dropdown-overlay"
	class="hide absolute right-0 top-full h-fit w-[38rem] rounded-lg pt-2 lg:w-[50rem]"
>
	<div
		class="w-full rounded-lg border-[1px] border-solid border-black bg-white px-8 py-6 font-sans text-black shadow-xl"
	>
		<div class="columns-2 gap-1 lg:columns-2">
			<NavigationOption
				title="Conference Information"
				description="Submission guidelines, deadlines and key info"
				href="/conference"
			/>
			<!-- <NavigationOption -->
			<!-- 	title="Kelowna" -->
			<!-- 	description="Explore our host city" -->
			<!-- 	href="#" -->
			<!-- /> -->
			<NavigationOption
				title="Events & Schedule"
				description="What's happening at WCUCC 2025"
				href="/schedule"
			/>
			<NavigationOption
				title="Sponsors & Funding"
				description="Support options and our generous sponsors"
				href="/funding"
			/>
			<NavigationOption
				title="Meet the Team"
				description="The people behind WCUCC 2025"
				href="/team"
				forceNextColumn={true}
			/>
		</div>
	</div>
</div>

<style>
	.hide {
		display: none !important;
	}
</style>
