---
const { title, description, image } = Astro.props;
---

<section
	class={`animate-fade-in flex h-screen w-full flex-col items-start justify-center gap-2 bg-cover p-5 sm:p-10 md:p-14 lg:p-20`}
	style={`background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('${image}');`}
>
	<h1
		class="animate-title border-[1px] text-7xl font-bold text-white outline-black sm:text-[5rem] lg:text-[7.8rem]"
	>
		{title}
	</h1>
	<h4
		class="animate-subtitle my-0 text-2xl font-light text-white lg:text-3xl"
	>
		{description}
	</h4>
</section>

<style>
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.animate-fade-in {
		animation: fadeIn 1s ease-out;
	}
	@keyframes slideInFromBottom {
		from {
			transform: translateY(50px);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
	.animate-title {
		animation: slideInFromBottom 0.5s ease-out;
	}
	.animate-subtitle {
		animation: slideInFromBottom 0.5s ease-out 0.2s both;
	}
	.full-width-line {
		width: 100vw;
		margin-left: calc(-50vw + 50%);
		border-top: 1px solid black;
	}
</style>
