---

---

<a
	class="hover:no-underline"
	href="https://ubc.ca1.qualtrics.com/jfe/form/SV_a8FwZ21NLZgGYlg"
	target="_blank"
	><div
		id="button"
		class="font-rubik flex items-center justify-center rounded-lg border-[1.5px] border-solid bg-wcucc-lavender px-3 py-1.5 text-base font-bold text-white hover:cursor-pointer hover:bg-wcucc-purple"
	>
	RSVP
	</div></a
>
