---
import CountDownTimer from './CountDownTimer.astro';
---

<section
	class="flex h-screen w-screen flex-col items-start justify-center bg-[url('/home-hero-bg-d.svg')] p-20"
>
	<div class="">
		<div class="pb-4">
		<p class="text-2xl font-normal mb-0 text-white">MAY 7 - 12, 2025</p>
		<p class="text-2xl font-light mb-0 text-white">Western Canada Undergraduate Chemistry Conference</p>
		</div>
		<div class="">
			<h1 class="text-8xl text-white">WCUCC 2025</h1>
			<h1 class="text-2xl text-white">
				Discover how we <span id="typer" class="text-wcucc-coral-400"
				></span>
			</h1>
			<h4 class="text-white">@ The University of British Columbia, Okanagan</h4>
			<a><button>Open in Maps</button></a>
		</div>
	</div>
	<CountDownTimer />
</section>
<script>
	import Typed from 'typed.js';
	new Typed('#typer', {
		strings:
			'innovate, create, design, synthesize, pipette, analyze, experiment, teach, learn'.split(
				', '
			),
		typeSpeed: 100,
		backSpeed: 50,
		backDelay: 1000,
		smartBackspace: true,
		loop: true,
		shuffle: true,
	});
</script>
