<section
	id="hero"
	class="bg-stretch flex h-screen w-screen flex-col items-start justify-center bg-[url('/home-hero-bg-d.svg')] p-5 text-white sm:justify-start sm:p-10 md:p-14 lg:p-20"
>
	<div class="flex h-full flex-col items-start justify-center gap-2">
		<h3 class="text-2xl lg:text-3xl font-medium">
			Western Canadian Undergraduate Chemistry Conference
		</h3>
		<h1 class="fade-in-left text-7xl lg:text-9xl font-bold">WCUCC 2025</h1>
		<h1 class="fade-in-left text-5xl lg:text-5xl font-medium">
			Discover how we <span id="typer" class="text-wcucc-coral-400"
			></span>
		</h1>
		<div class="p-2">
			<p class="text-xl text-white">
				Interested in the conference? Fill out our Interest
				Questionnaire!
			</p>
			<a
				class="border-noe hover:no-underline w-fit rounded-lg bg-black px-4 py-2 text-xl font-normal text-white shadow-transparent outline-none outline-none transition-all duration-500 hover:cursor-pointer hover:bg-gray-800"
				href="https://ubc.ca1.qualtrics.com/jfe/form/SV_a8FwZ21NLZgGYlg"
				target="_blank">Interest Questionnaire</a
			>
		</div>
	</div>
</section>
<script>
	import Typed from 'typed.js';
	new Typed('#typer', {
		strings:
			'innovate, create, design, synthesize, pipette, analyze, experiment, teach, learn'.split(
				', '
			),
		typeSpeed: 100,
		backSpeed: 50,
		backDelay: 1000,
		smartBackspace: true,
		loop: true,
		shuffle: true,
	});
</script>
