<section
    class="flex flex-col gap-5 p-5 transition-all duration-300 ease-in-out sm:p-10 md:gap-10 md:p-14 lg:p-20"
>
    <p class="p-5 text-2xl">
        Countless hours of hard work and determination from the amazing people
        featured below made this conference possible. Behind every detail lies a
        passionate team driven by a shared vision, love for chemistry, and the
        desire to create a space where ideas can flourish.
    </p>
    <div class="flex w-full flex-row flex-wrap items-center justify-center">
        <img
            class="relative z-20 h-auto w-full translate-x-5 translate-y-7 rotate-[5deg] md:max-w-[50%]"
            src="/team/Casual.JPG"
            alt="Casual Team Picture"
        />
        <img
            class="relative z-10 h-auto w-full -translate-x-5 -translate-y-7 -rotate-[5deg] md:max-w-[50%]"
            src="/team/Formal.JPG"
            alt="Formal Team Picture"
        />
    </div>
</section>
