---
const categories = {
	Keynote: '#499FD4',
	Admin: '#FF6600',
	Plenary: '#F67795',
	Exploration: '#F7BF4B', // #FFFB00
	Leisure: '#077364',
	Break: '',
	Presentations: '#CA90CE',
	Workshop: '#D10838',
};

const textColors = {
	Leisure: '#FFFFFF',
	Workshop: '#FFFFFF',
};

type Props = {
	name: keyof typeof categories;
};

const { name }: Props = Astro.props;
---

<p
	class="leading-0 m-0 rounded-lg px-4 py-2"
	style={`background-color: ${categories[name]}; color: ${textColors[name] || 'black'}`}
>
	{name}
</p>
